.dropdown {
  position: inherit !important;
}

.dropdown-toggle {
  background: #cfd5df !important;
  border: 3px solid black !important;
  color: #252d4a !important;
}
.dropdown-menu {
  padding: 0 !important;
}
.dropdown-item {
  border-bottom: 2px solid grey !important;
}

.topic {
  background-color: #252d4a;
  height: min-content;
  border-radius: 15px;
  /* padding: 20px; */
  max-width: 95vw;
  margin: 10px;
  padding: 10px;
  box-shadow: 10px 10px 42px 0px rgba(0, 0, 0, 0.75);
}
