.about {
  display: flex;
  flex-direction: column;
  width: 100vw;
  min-height: 100vh;
  padding: 140px 20px 20px;
  background-color: #9aa9ba;
}

.about p {
  text-align: justify;
}

.about-img {
  margin: 0 auto;
}

.about-img img {
  max-width: 175px;
}

@media screen and (min-width: 575px) {
  .about {
    align-items: center;
    max-width: 730px;
    min-height: 200px;
    height: min-content;
    border-radius: 15px;
    padding: 30px 20px;
    box-shadow: 10px 10px 42px 0px rgba(0, 0, 0, 0.75);
    margin: 200px auto 0;
  }

  .about p {
    padding: 0 25px;
  }
}
