.navbar {
  background-color: #252d4a;
  /* height: min-content; */
  border-radius: 15px;
  /* max-width: 450px; */
  margin: 10px;
  box-shadow: 10px 10px 42px 0px rgba(0, 0, 0, 0.75);
}

.navbar ul {
  display: flex;
  align-items: center;
  justify-content: space-around;
  list-style-type: none;
  cursor: pointer;
  padding: 0;
}

.navbar ul li {
  flex: auto;
  padding: 0 5px 0 5px;
}

.navbar ul li button {
  text-align: center;
  font-size: 15px;
  width: 120px;
  margin-bottom: 10px;
}
