.test {
  background-color: #252d4a;
  max-width: 500px;
  min-height: 200px;
  height: min-content;
  border-radius: 15px;
  padding: 20px;
  box-shadow: 10px 10px 42px 0px rgba(0, 0, 0, 0.75);
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 10px;
}

.score-section {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  font-size: 24px;
  align-items: center;
}

/* QUESTION/TIMER/LEFT SECTION */
.question-section {
  width: 100%;
  /* position: relative; */
}

.question-header-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.question-img-header-footer {
  max-width: 175px;
}

.question-img-header-footer img {
  max-width: 100%;
}

.question-count {
  padding: 10px;
}

.question-count span {
  font-size: 28px;
}

.question-text {
  margin-bottom: 12px;
}

/* ANSWERS/RIGHT SECTION */
.answer-section {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  /* flex-direction: column; */
  /* justify-content: space-between; */
}

.answer-section button {
  flex: auto;
  width: 100%;
  margin: 5px;
  text-align: left;
}

button {
  width: 100%;
  font-size: 16px;
  /* color: #ffffff; */
  background-color: #252d4a;
  border-radius: 15px;
  display: flex;
  padding: 5px;
  justify-content: flex-start;
  align-items: center;
  border: 5px solid #234668;
  cursor: pointer;
}

.dark-button {
  background-color: #f3e3e1;
  color: black;
}

.test_footer div img {
  max-width: 100%;
}

.next-button {
  width: fit-content;
  padding: 10px;
  background: #4793cc;
  border: 5px solid #234668;
  color: #252d4a;
  font-weight: bold;
  margin-left: 30px;
}

.correct {
  background-color: #2f922f !important;
}

.incorrect {
  background-color: #ff3333 !important;
}

button:hover {
  background-color: #555e7d;
}

.noHover {
  pointer-events: none;
}

button:focus {
  outline: none;
}

button svg {
  margin-right: 5px;
}
